vendor
src/public/storage
# node
src/node_modules
**/node_modules
npm-debug.log
yarn.lock
pnpm-lock.yaml

# vite / build
dist
build

# git
.git
.gitignore

# cache
.cache
.tmp

# ide
.vscode
.idea
